# Web scraping
requests==2.31.0
beautifulsoup4
playwright

# Async support
asyncpg
aiohttp

# Env + config
python-dotenv

# Optional
uvicorn
fastapi
yt-dlp
ffmpeg
pytz
crawl4ai
pandas
sqlalchemy
psycopg2-binary

# Crawlee & Pydantic (đã fix lỗi)
crawlee==1.0.1
pydantic

gdown
google-genai
moviepy
natsort
loguru
jmespath
pydub